
# Ignore node_modules in root directory
/node_modules

# Ignore node_modules in client directory
/client/node_modules

# Ignore .env file in root directory
/.env

# Ignore secretstripe.txt file
/secretstripe.txt

# Ignore any logs
*.log

# Ignore .DS_Store files (for macOS users)
.DS_Store

# Ignore build output directories
/build
/dist

# Ignore IDE and editor specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*
yarn-error.log*

# Ignore .env files in all directories
**/.env
